body{
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

.transition{
  opacity: 0.9;
  animation: appear 1.3s ease-in-out forwards;
  margin: 12px;
  flex-direction: column;
  height: 100vh;
}

@-webkit-keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 16px; opacity: 1; }  
}

@keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 16px; opacity: 1; }  
}

.video-bg{
  z-index: -1;
  transform: scaleX(-1);
}

#products ul{
  list-style: none;
  color: white;
}

.description{
  color: white;
  padding-bottom: 5em;
  padding-top: 5em;
}

.hero{
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.impressum{
  color: white;
  padding-top: 6em;
  padding-left: 1em;
}

.navbar{
  padding-top: 2.5em;
}

.products{
  color: white;
}